.main{
    width: 100%;
    background-image: url('../../Images/Back/er404_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
#er{
    text-align: center;
    margin-top: 10%;
}

#erp{
    text-align: center;
    margin-top: 3%;
}

