<!-- <div class="main-{{elem}}" >
    <div class="lefter">

      <div (click)="routTo('cs-go')" class="card" (mouseover)="changeBack('csgo')" id="card-csgo">
        <div class="name" id="name-csgo"></div>
        <div class="pers" id="pers-csgo"></div>
      </div>

      <div class="card" (mouseover)="changeBack('dota')" id="card-dota">
        <div class="name" id="name-dota"></div>
        <div class="pers" id="pers-dota"></div>
      </div>

      <div class="card" (mouseover)="changeBack('cod')" id="card-cod">
        <div class="name" id="name-cod"></div>
        <div class="pers" id="pers-cod"></div>
      </div>

      <div class="card" (mouseover)="changeBack('lol')" id="card-lol">
        <div class="name" id="name-lol"></div>
        <div class="pers" id="pers-lol"></div>
      </div>

      <div class="card" (mouseover)="changeBack('r6s')" id="card-r6s">
        <div class="name" id="name-r6s"></div>
        <div class="pers" id="pers-r6s"></div>
      </div>

      <div class="card" (mouseover)="changeBack('overwatch')" id="card-overwatch">
        <div class="name" id="name-overwatch"></div>
        <div class="pers" id="pers-overwatch"></div>
      </div>

      <div class="card" (mouseover)="changeBack('pubg')" id="card-pubg">
        <div class="name" id="name-pubg"></div>
        <div class="pers" id="pers-pubg"></div>
      </div>

      <div class="card" (mouseover)="changeBack('valorant')" id="card-valorant">
        <div class="name" id="name-valorant"></div>
        <div class="pers" id="pers-valorant"></div>
      </div>
    </div>



</div> -->

