<div class="main">



  <div class="lefter">

    <div class="card" id="card-csgo">
      <div class="name"></div>
      <div class="pers"></div>
    </div>

    <div class="card" id="card-dota">
      <div class="name"></div>
      <div class="pers"></div>
    </div>

    <div class="card" id="card-cod">
      <div class="name"></div>
      <div class="pers"></div>
    </div>

    <div class="card" id="card-lol">
      <div class="name"></div>
      <div class="pers"></div>
    </div>

    <div class="card" id="card-r6s">
      <div class="name"></div>
      <div class="pers"></div>
    </div>

    <div class="card" id="card-overwatch">
      <div class="name"></div>
      <div class="pers"></div>
    </div>

    <div class="card" id="card-pubg">
      <div class="name"></div>
      <div class="pers"></div>
    </div>

    <div class="card" id="card-valorant">
      <div class="name"></div>
      <div class="pers"></div>
    </div>
  </div>




</div>