.main-cod{
    width: 100%;
    background-image: url('../../Images/Back/cod_back.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
.main-dota{
    background-image: url('../../Images/Back/dota_back.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}
.main-csgo{
    background-image: url('../../Images/Back/csgo_back.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.main-lol{
    background-image: url('../../Images/Back/lol_back.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.main-r6s{
    background-image: url('../../Images/Back/r6s_back.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.main-overwatch{
    background-image: url('../../Images/Back/overwatch_back.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.main-pubg{
    background-image: url('../../Images/Back/pubg_back.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.main-valorant{
    background-image: url('../../Images/Back/valorant_back.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.lefter{
backdrop-filter: blur(5px);
width: 17%;
padding: 20px 50px;
height: 100%;
position: absolute;
left: 0;
overflow-y: scroll;
display: block;
justify-content: center;
}


.lefter::-webkit-scrollbar {
    width: 12px;
}

.lefter::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(97, 0, 177, 0.438); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.lefter::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.card{
    filter: brightness(0.6);
    display: flex;
    /*background-color: rgba(0, 0, 139, 0.438);*/
    height: 150px;
    margin: 80px 0 50px 0;
    
opacity:0.8;
-moz-opacity:0.8;
filter: alpha(opacity=80) black;
-khtml-opacity: 0.8;
background-color:#000;
}

.name{ 
    width: 40%;
    margin-left: 30px;
    height: 100px;
    background-size: cover;
    background-position: center;
    filter: brightness(1.6);
}

.pers{
    width: 60%;
    margin-left: 20%;
    background-size: cover;
    filter: brightness(1.6);
    margin-top: 10px;
    object-fit: cover;
    transition: 0.5s;
}

.card:hover > .pers{
    padding-right: 80px;
    transition: 0.5s;
}




#card-csgo{
    background-image: url('../../Images/Card/csgo_card.jpg');
    background-size: cover;
}

#card-cod{
    background-image: url('../../Images/Card/cod_card.jpg');
    background-size: cover;
}

#card-dota{
    background-image: url('../../Images/Card/dota_card.jpg');
    background-size: cover;
}

#card-lol{
    background-image: url('../../Images/Card/lol_card.jpg');
    background-size: cover;
}

#card-overwatch{
    background-image: url('../../Images/Card/overwatch_card.jpg');
    background-size: cover;
}

#card-pubg{
    background-image: url('../../Images/Card/pubg_card.jpg');
    background-size: cover;
}

#card-r6s{
    background-image: url('../../Images/Card/r6s_card.jpg');
    background-size: cover;
}

#card-valorant{
    
    background-image: url('../../Images/Card/valorant_card.jpeg');
    background-size: cover;
}





#pers-csgo{
    background-image: url('../../Images/Pers/csgo_pers.png');
    background-size: cover;
}

#pers-cod{
    background-image: url('../../Images/Pers/cod_pers.png');
    background-size: cover;
}

#pers-dota{
    background-image: url('../../Images/Pers/dota_pers.png');
    background-size: cover;
}

#pers-lol{
    background-image: url('../../Images/Pers/lol_pers.png');
    object-fit: cover;
}

#pers-overwatch{
    background-image: url('../../Images/Pers/overwatch_pers.png');
    object-fit: cover;
}

#pers-pubg{
    background-image: url('../../Images/Pers/pubg_pers.png');
    object-fit: cover;
}

#pers-r6s{
    background-image: url('../../Images/Pers/r6s_pers.png');
    object-fit: cover;
}

#pers-valorant{
    
    background-image: url('../../Images/Pers/valorant_pers.png');
    object-fit: cover;
}



#name-csgo{
    background-image: url('../../Images/Logo/csgo_logo.png');
    object-fit: cover;
}

#name-cod{
    background-image: url('../../Images/Logo/cod_logo.png');
    object-fit: cover;
}

#name-dota{
    background-image: url('../../Images/Logo/dota_logo.png');
    object-fit: cover;
}

#name-lol{
    background-image: url('../../Images/Logo/lol_logo.png');
    object-fit: cover;
}

#name-overwatch{
    background-image: url('../../Images/Logo/overwatch_logo.png');
    object-fit: cover;
}

#name-pubg{
    background-image: url('../../Images/Logo/pubg_logo.png');
    object-fit: cover;
}

#name-r6s{
    background-image: url('../../Images/Logo/r6s_logo.png');
    object-fit: cover;
}

#name-valorant{
    
    background-image: url('../../Images/Logo/valorant_logo.png');
    object-fit: cover;
}