<div class="main">



  <div class="lefter">

    <div class="card" style="background-image: url('../../Images/Card/csgo_card.jpg'); background-size: cover;">
      <div class="name"></div>
      <div class="pers"></div>
    </div>

    <div class="card">
      <div class="name"></div>
      <div class="pers"></div>
    </div>

    <div class="card">
      <div class="name"></div>
      <div class="pers"></div>
    </div>

    <div class="card">
      <div class="name"></div>
      <div class="pers"></div>
    </div>

    <div class="card">
      <div class="name"></div>
      <div class="pers"></div>
    </div>

    <div class="card">
      <div class="name"></div>
      <div class="pers"></div>
    </div>

    <div class="card">
      <div class="name"></div>
      <div class="pers"></div>
    </div>

    <div class="card">
      <div class="name"></div>
      <div class="pers"></div>
    </div>
  </div>




</div>