<div class="tablecard">
  <div class="game-card" id="card1">
    <div class="desc">
      <div class="team1"></div>
      <div class="sc-map">
        <div>
          <p class="begin_at">15:00</p>
        </div>
        <div>
          <p class="full_name">full name</p>
        </div>
        <div>
          <p class="map">description</p>
        </div>
        <div>
          <p class="begin_end">16:00</p>
        </div>
      </div>
      <div class="team2"></div>

    </div>
  </div>

  <div class="game-card" id="card2">
    <div class="desc">
      <div class="team1"></div>
      <div class="sc-map">
        <div>
          <p class="begin_at">15:00</p>
        </div>
        <div>
          <p class="full_name">full name</p>
        </div>
        <div>
          <p class="map">description</p>
        </div>
        <div>
          <p class="begin_end">16:00</p>
        </div>
      </div>
      <div class="team2"></div>

    </div>
  </div>
</div>

<div class="tablecard">
  <div class="game-card" id="card1">
    <div class="desc">
      <div class="team1"></div>
      <div class="sc-map">
        <div>
          <p class="begin_at">15:00</p>
        </div>
        <div>
          <p class="full_name">full name</p>
        </div>
        <div>
          <p class="map">description</p>
        </div>
        <div>
          <p class="begin_end">16:00</p>
        </div>
      </div>
      <div class="team2"></div>

    </div>
  </div>

  <div class="game-card" id="card2">
    <div class="desc">
      <div class="team1"></div>
      <div class="sc-map">
        <div>
          <p class="begin_at">15:00</p>
        </div>
        <div>
          <p class="full_name">full name</p>
        </div>
        <div>
          <p class="map">description</p>
        </div>
        <div>
          <p class="begin_end">16:00</p>
        </div>
      </div>
      <div class="team2"></div>

    </div>
  </div>
</div>


<!-- <footer>
  <p>Авторські права не сублюдені. Ми просто все брали з інета</p>
</footer> -->