<div class="main">



  <div class="lefter">

    <div class="card" id="card-csgo">
      <div class="name"></div>
      <div class="pers"></div>
    </div>

    <div class="card" id="card-dota">
      <div class="name"></div>
      <div class="pers"></div>
    </div>

    <div class="card" id="card-cod">
      <div class="name"></div>
      <div class="pers"></div>
    </div>

    <div class="card" id="card-lol">
      <div class="name"></div>
      <div class="pers"></div>
    </div>

    <div class="card" id="card-r6s">
      <div class="name"></div>
      <div class="pers"></div>
    </div>

    <div class="card" id="card-overwatch">
      <div class="name"></div>
      <div class="pers"></div>
    </div>

    <div class="card" id="card-pubg">
      <div class="name"></div>
      <div class="pers"></div>
    </div>

    <div class="card" id="card-valorant">
      <div class="name"></div>
      <div class="pers"></div>
    </div>
  </div>

<div class="tablecard" >

  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Primary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>

          </div>
</div>