<div class="main-for-cards">

  <div class="tablecard">
    <div class="game-card" id="card1">
      <div class="desc">
        <div class="team1"></div>
        <div class="sc-map">
          <div>
            <p class="score">15-16</p>
          </div>
          <div>
            <p class="map">dust2</p>
          </div>
        </div>
        <div class="team2"></div>

      </div>
    </div>

    <div class="game-card" id="card2">
      <div class="desc">
        <div class="team1"></div>
        <div class="sc-map">
          <div>
            <p class="score">15-16</p>
          </div>
          <div>
            <p class="map">dust2</p>
          </div>
        </div>
        <div class="team2"></div>

      </div>
    </div>
  </div>

  <div class="tablecard">
    <div class="game-card" id="card1">
      <div class="desc">
        <div class="team1"></div>
        <div class="sc-map">
          <div>
            <p class="score">15-16</p>
          </div>
          <div>
            <p class="map">dust2</p>
          </div>
        </div>
        <div class="team2"></div>

      </div>
    </div>

    <div class="game-card" id="card2">
      <div class="desc">
        <div class="team1"></div>
        <div class="sc-map">
          <div>
            <p class="score">15-16</p>
          </div>
          <div>
            <p class="map">dust2</p>
          </div>
        </div>
        <div class="team2"></div>

      </div>
    </div>
  </div>
</div>